@font-face {
    font-family: "Avenir Heavy";
    src: url('../fonts/AvenirLTStd-Heavy.otf');
}


.navbar-default-modified {
    background-image: linear-gradient(to bottom,#f1f1f1 0,#f8f8f8 100%) !important;
    min-height: 80px !important;
    margin-bottom: 0 !important;
}

.container-fluid-modified {
    min-height: 80px !important;
    padding: 12px 10px 12px 10px !important;
}

.navbar-header a img {
    width: 85px !important;
}

.nav-brand-modified {
    padding-top:0px !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.nav-modified {
    margin-left: -200px !important;
}

ul li a {
    font-family: "Avenir Heavy";
}

.slider .container-fluid {
    height:60vh;
    background-color:black;
    position:relative;
}
.ontop {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    top:60%;
}

.ontop .row .col-xs-3 {
    margin: 0 20px 0 20px;
    background-color:#ffffff;
    padding: 20px 20px 20px 20px;
    width: 27% !important;
    border-bottom:solid 6px #00ff94;
    height:500px;


}

.bloc {
    color:#747474;
    font-family: "Avenir Heavy";
    background-color: #f1f1f1;
    height: 50vh;
    font-size:1em;

}

.col-xs-3 h2 {
    font-size:2em;
}

.color-col-x3 {
    margin:20px 0 10px 0;
    color:#cccccc;
}

.image-deco {
    margin: auto;
    height:40px;
    width:40px;
}
.image-deco img {
    width:30px;
}

.bloc .ontop .row a {
    color:#747474;
}